
article{
    display: grid;
    grid-template-rows: subgrid;
}


article a{
    background-image: url("../img/ball.webp");
    max-width: 70px;
    background-size:cover;
    padding: 5em;
    color: white;
    font-weight: 200;
    text-decoration: none;
    
}

article a:hover{
    background-color: black;
    background-image: none;
}


/* *****HIDE******* */
/* .hide{
    display: none;
} */