/* **************HEADER + FOOTER********** */

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: rgba(39, 39, 39, 1);
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer{
    background-color: rgba(39, 39, 39, 1);
}

#banner{
    background-color: red;
    text-wrap: nowrap;
    font-weight:bolder;
}

.links{
    background-color: rgb(201, 195, 195);
}

.links ul{
    display: flex;
    justify-content: space-around;
}


.links li{
    list-style-type: none;
    text-decoration: none;
    color: black
}

.links li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.links a:hover{
    text-decoration: underline;
    color: black;
}

/* ***********LEFT NAVIGATION********** */

nav li{
    text-decoration: none;
    list-style-type: none;
    padding: 0.3em;
}

nav ul li:nth-of-type(2) {
    margin-left: 2em;
}

nav a{
    margin-left: 2em;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/* ***********INDEX PAGE*********** */

#page_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.choose_grid{
    grid-column: span 2;
    margin: 2em;
    margin-right: 10em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
}
